<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
 
<body>
 <div class="login">
  <h1>KNN Classification</h1>
	<h1>Predict Type of Iris</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="sepallenth" placeholder="sepallenth" required="required" />
        <input type="text" name="sepalwidth" placeholder="sepalwidth" required="required" />
		<input type="text" name="petallength" placeholder="petallength" required="required" />
    <input type="text" name="petalwidth" placeholder="petalwidth" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br> 
   <!-- jinja language to use if condition in html file -->
   {% if prediction %}
   Iris Type =
   {{ prediction }}
   {% endif %}

 </div>


</body>
</html>
